@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main_container{
    border: solid black;
    padding: 10px;
    background-color: rgb(18, 1, 1)
    border: 13px black;
    margin:  auto;
    width: 800px;
    display: flex;


}

.Right_content{
    padding: 30px;
    flex-basis: 70%;
    background-color: antiquewhite;
    
}
.profileImg{
    padding: 0px;
    display: flex;
}


.title{
    
    font-size: 22px;
    margin-top: 30px;
    color: rgb(14, 75, 167);
}
.left_content{
    padding: 30px;
    flex-basis: 50%;
    background-color: rgb(164, 142, 142);
}
.item_title{
    margin-top: 10px;
}